<!DOCTYPE html>
<html>
<head>
</head>
<body>
	{% extends "chatting/base.html" %}

	{% block content %}
		<!--form method="GET" action="{% url 'chatting:exit_room' room %}">
			<input type="submit" value="EXIT" id="btn_exit">
		</form-->
		<button id="btn_exit">EXIT</button>
		<div id = "div_test">
		</div>
		{{form.as_p}}
		<button id="btn_chat">CHAT</button>
		<script>
		console.log('{{ request.path }}');
		var path = '{{request.path}}';
		var pathArr = path.split('/');
		console.log(pathArr);
		window.onload = function() {
			var sender = document.getElementById('id_sender');
			sender.value = '{{ request.session.user }}';
			sender.setAttribute("disabled", "");
		};
		var context = document.getElementById('id_context');
		var chatButton = document.getElementById('btn_chat');
		var exitButton = document.getElementById('btn_exit');
		var div = document.getElementById("div_test");
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var ws_path = ws_scheme + "://" + window.location.host + "/chatting/?room=" + pathArr[pathArr.length - 1];

		var socket = new WebSocket(ws_path);
		var socket2 = new WebSocket("ws://" + window.location.host + "/test/");

		socket.onmessage = function(message) {
			var inputMessage = JSON.parse(message.data);
			//if (inputMessage.sender) {
				div.innerHTML += inputMessage.sender + ": " + inputMessage.msg + "<br>";
			//} else {
				//div.innerHTML += inputMessage.sender+"<br>";
			//}
			
		};

		socket.onopen = function() {
			socket.send('{"msg": "<strong>{{ request.session.user }} enters.</strong>" , "sender": "<strong>SYSTEM</strong>"}');
		}

		socket2.onopen = function() {
			//socket2.send('{"room": "' + pathArr[pathArr.length - 1] + '", "user": "{{ request.session.user }}", "from" : "room"}');
		}


		chatButton.onclick = function() {
				console.log(document.getElementById('id_context').value);
				var data = document.getElementById('id_context').value
				socket.send('{"msg": "' + context.value +'" , "sender": "{{ request.session.user }}"}');
				context.value = "";
		}

		exitButton.onclick = function() {
			
			window.history.back();
		}


		if (socket.readyState == WebSocket.OPEN) {
			socket.onopen();
		}

	

		//window.history.back() = function() {// it occurs both exit button is clicked and back button is clicked.
			//exitButton.onclick();
		//}
		

		</script>
	{% endblock %}
	
</body>
</html>