<!DOCTYPE html>
<html>
<head>
</head>
<body>
	{% extends "chatting/base.html" %}

	{% block content %}
		<!--form method="GET" action="{% url 'chatting:exit_room' room %}">
			<input type="submit" value="EXIT" id="btn_exit">
		</form-->
		<button id="btn_exit">EXIT</button>
		<div id = "div_test">
		</div>
		{{form.as_p}}
		<button id="btn_chat">CHAT</button>
		<div id="div_members">
			{% for member in members %}
			<button type="submit" style="background-color:white;" name="user_message" id="{{ member.id }}">{{ member.username }}</button>
			{% endfor %}
		</div>
		<script>
		console.log('{{ request.path }}');
		var path = '{{request.path}}';
		var pathArr = path.split('/');
		console.log(pathArr);
		window.onload = function() {
			var sender = document.getElementById('id_sender');
			sender.value = '{{ request.session.user }}';
			sender.setAttribute("disabled", "");
		};
		var context = document.getElementById('id_context');
		var chatButton = document.getElementById('btn_chat');
		var exitButton = document.getElementById('btn_exit');
		var div = document.getElementById("div_test");
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var ws_path = ws_scheme + "://" + window.location.host + "/chatting/?room=" + pathArr[pathArr.length - 1];

		var socket = new WebSocket(ws_path);
		var socket2 = new WebSocket("ws://" + window.location.host + "/test/");

		socket.onmessage = function(message) {
			var inputMessage = JSON.parse(message.data);
			//if (inputMessage.sender) {
				div.innerHTML += inputMessage.sender + ": " + inputMessage.msg + "<br>";
			//} else {
				//div.innerHTML += inputMessage.sender+"<br>";
			//}
			
		};

		socket.onopen = function() {
			socket.send('{"msg": "<strong>{{ request.session.user }} enters.</strong>" , "sender": "<strong>SYSTEM</strong>"}');
		}

		socket2.onopen = function() {
			//socket2.send('{"room": "' + pathArr[pathArr.length - 1] + '", "user": "{{ request.session.user }}", "from" : "room"}');
		}


		

		exitButton.onclick = function() {
			
			window.close();
		}


		if (socket.readyState == WebSocket.OPEN) {
			socket.onopen();
		}

	

		//window.history.back() = function() {// it occurs both exit button is clicked and back button is clicked.
			//exitButton.onclick();
		//}
		
		var mySocket = new WebSocket("ws://" + window.location.host + "/message_test/");
		var sender = '{{ request.session.user }}';
		var msgCode = "";
		var msgContext = "";
		var room = pathArr[pathArr.length - 1]

		mySocket.onopen = function() {
			msgCode = "noti";
			msgContext = "enter to room";
				
			mySocket.send(
				JSON.stringify({
				'sender': sender,
				'msgCode': msgCode,
				'msgContext': msgContext,
				'room': room,
			})
			);
		}
			

		mySocket.onmessage = function(msg) {
			console.log("MESSAGE: ", msg );
			console.log(JSON.parse(msg.data));
			var message = JSON.parse(msg.data);
			if (message['msgCode'] == 'noti') {
				console.log(message['sender'], message['msgContext']);	
			} else if (message['msgCode'] == 'message') {
				alert(message['msgContext']);
			}
			
		}

		chatButton.onclick = function() {
			console.log(document.getElementById('id_context').value);
			var data = document.getElementById('id_context').value
			socket.send('{"msg": "' + context.value +'" , "sender": "{{ request.session.user }}"}');
			msgCode = "message";
			msgContext = context.value;
			mySocket.send(
			JSON.stringify({
					'sender': sender,
					'msgCode': msgCode,
					'msgContext': msgContext,
					'room': room,
				})
			);
			context.value = "";
		}

		var xhttp = new XMLHttpRequest();

		var userMessage = document.getElementsByName("user_message");
		for (let i = 0; i <  userMessage.length; i++) {
			userMessage[i].onclick = function() {
				console.log(userMessage[i].id);
				receiver_id = userMessage[i].id
				window.open("/chatting/message/"+'{{ request.user.id }}'+"/"+receiver_id);
				//xhttp.open("GET", "/chatting/message/"+receiver_id);
				//xhttp.send();
			}

			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					
				}
			}
		}
		</script>
	{% endblock %}
	
</body>
</html>