<!DOCTYPE html>
<html>
<head>
</head>
<body>
	{% extends "chatting/base.html" %}

	{% block content %}
		<!--form method="GET" action="{% url 'chatting:exit_room' room %}">
			<input type="submit" value="EXIT" id="btn_exit">
		</form-->
		<button id="btn_exit">EXIT</button>
		<div id = "div_test">
		</div>
			{{ chatting_form.as_p }}
		<button id="btn_chat">CHAT</button>
		<!--div id="div_members">
			{% for member in members %}
			<button type="submit" style="background-color:white;" name="user_message" id="{{ member.id }}">{{ member.username }}</button>
			{% endfor %}
		</div-->

		<div id="div_slip_message" style="display:none">
			{{ message_form.as_p }}
			<button type="submit" id="btn_send_message">SEND</button>
		</div>
		<div id="div_loggedin">
			<span name="loggedin_username"></span>
			<span name="loggedin_roominfo"></span>
		</div>
		<div id="div_loggedout">
			<span name="loggedout_username"></span>
		</div>
		<script>
			var webPath = "ws://" + window.location.host + "/chat_test/";
			var websocket = new WebSocket(webPath);
			var pathArr = '{{ request.path }}'.split("/");
			var roomNumber = pathArr[pathArr.length - 1];

			window.onload = function() {
				var sender = document.getElementById('id_sender');
				sender.value = '{{ request.session.user }}';
				sender.setAttribute("disabled", "");
				window.opener.sendChattingRoom(roomNumber);


			};

			var messageBtn = document.getElementsByName('user_message');
			for (let i = 0; i < messageBtn.length; i++){
				messageBtn[i].onclick = function() {
					console.log("cLICK")
					
				}
			}
			var messageSendBtn = document.getElementById('btn_send_message');
			var xhttp = new XMLHttpRequest();
			messageSendBtn.onclick = function() {
				$.ajax({
					type: 'POST',
					url: '{{ request.path }}',
					data: { 'csrfmiddlewaretoken': '{{ csrf_token }}', 'sender': document.getElementById("id_message_sender").value, 'receiver': document.getElementById("id_message_receiver").value, 'context': document.getElementById("id_message_context").value },
					dataType: 'json',
					success: function(result) {
						console.log("RESULT");
						console.log(result);
						window.opener.sendMessage(document.getElementById("id_message_sender").value, document.getElementById("id_message_receiver").value, document.getElementById("id_message_context").value);
						document.getElementById("id_message_context").value = "";
						document.getElementById("div_slip_message").style.display = "none";
					},
					error: function(e) {
						console.log("ERROR");
						console.log(e);
					}
				});
			}
			/*websocket.onopen = function() {
				websocket.send(JSON.stringify({
					"code": "msg",
					"sender": '{{ request.user }}',
					"context": "hello world",
					"room":  roomNumber,
				}));
			}

			websocket.onmessage = function(message) {
				console.log(JSON.parse(message.data));
				let input = JSON.parse(message.data)
				if (input.code == 'info room') {
					console.log(JSON.parse(input.context));
				} else if (input.code == 'info user') {
					console.log(JSON.parse(input.context));
				}
			}*/
			var btnExit = document.getElementById("btn_exit");
			btnExit.onclick = function() {
				window.opener.closeChattingRoom(roomNumber, window);
				window.close();
			}
			var chatButton = document.getElementById('btn_chat');
			var div = document.getElementById("div_test");
			var context = document.getElementById('id_context');

			chatButton.onclick = function() {
				var message = document.getElementById('id_context').value;
				window.opener.sendChattingMessage(roomNumber, message);
				context.value = "";
			}

			function receiveChattingMessage(message) {
				if (message.room == roomNumber) {
					div.innerHTML += message.sender + ": " + message.context + "<br>";
				}
			}

			function receiveMessage(message) {
				if (message['receiver'] == '{{ request.user }}') {
					alert(message['sender'] + ": " + message['context']);
				}
			}

			function receiveUserInfo(userInfo) {
				var divLoginList = document.getElementById("div_loggedin");
				var newOneLogin = divLoginList.cloneNode(true);
				var divLogoutList = document.getElementById("div_loggedout");
				var newOneLogout = divLogoutList.cloneNode(true);
				
				var userId = userInfo['id'];
				var existLoginUser = document.getElementById("login"+userId);
				var existLogoutUser = document.getElementById("logout"+userId);
				if (existLoginUser || existLogoutUser) {					
					if (existLogoutUser && userInfo['is_loggedin'] == true) {
						document.getElementsByClassName("container")[0].removeChild(existLogoutUser);
						for (var attribute in userInfo) {
							var spanUserName = document.getElementsByName("loggedin_username")[0];
							var spanRoomInfo = document.getElementsByName("loggedin_roominfo")[0];
							
							if (attribute == 'username') {
								spanUserName.setAttribute("id", "login_"+attribute+userId);
								spanUserName.setAttribute("name", "login_"+attribute+userId);
								spanUserName.innerHTML = "<button  name='user_message' id='"+userId+"' onclick='clickUserMessage(id)'>" + userInfo[attribute] + "</button> <span style='color:green;'>O</span><br>";
							} 
						}
					
						$('#div_loggedin').after(newOneLogin);
						divLoginList.setAttribute("id", "login"+userId);
						divLoginList.setAttribute("name", "login"+userId);
					}
					else if(existLoginUser && userInfo['is_loggedin'] == false){
						document.getElementsByClassName("container")[0].removeChild(existLoginUser);
						for (var attribute in userInfo) {
							var spanUserName = document.getElementsByName("loggedout_username")[0];
							
							if (attribute == 'username') {
								spanUserName.setAttribute("id", "logout_"+attribute+userId);
								spanUserName.setAttribute("name", "logout_"+attribute+userId);
								spanUserName.innerHTML = "<button type='submit' name='user_message' id='"+userId+"'  onclick='clickUserMessage(id)'>" + userInfo[attribute] + "</button> <span style='color:grey;'>O</span><br>";
							} 
						}
					
						$('#div_loggedout').after(newOneLogout);
						divLogoutList.setAttribute("id", "logout"+userId);
						divLogoutList.setAttribute("name", "logout"+userId);
					}
				
				} else {
					if (userInfo['is_loggedin'] == true) {
						for (var attribute in userInfo) {
							var spanUserName = document.getElementsByName("loggedin_username")[0];
							var spanRoomInfo = document.getElementsByName("loggedin_roominfo")[0];
							
							if (attribute == 'username') {
								spanUserName.setAttribute("id", "login_"+attribute+userId);
								spanUserName.setAttribute("name", "login_"+attribute+userId);
								spanUserName.innerHTML = "<button  name='user_message' id='"+userId+"'  onclick='clickUserMessage(id)'>" + userInfo[attribute] + "</button> <span style='color:green;'>O</span><br>";
							} 
						}
					
						$('#div_loggedin').after(newOneLogin);
						divLoginList.setAttribute("id", "login"+userId);
						divLoginList.setAttribute("name", "login"+userId);
					}
					else {
						for (var attribute in userInfo) {
							var spanUserName = document.getElementsByName("loggedout_username")[0];
							
							if (attribute == 'username') {
								spanUserName.setAttribute("id", "logout_"+attribute+userId);
								spanUserName.setAttribute("name", "logout_"+attribute+userId);
								spanUserName.innerHTML = "<button  name='user_message' id='"+userId+"'  onclick='clickUserMessage(id)'>" +userInfo[attribute] + "</button> <span style='color:grey;'>O</span><br>";
							} 
						}
					
						$('#div_loggedout').after(newOneLogout);
						divLogoutList.setAttribute("id", "logout"+userId);
						divLogoutList.setAttribute("name", "logout"+userId);	
					}

				}
				
			}
			function clickUserMessage(id) {
				console.log("hi")
				console.log(id);
				console.log(document.getElementsByName("user_message"));
				if (document.getElementById("id_message_receiver").value == document.getElementById(id).innerHTML && document.getElementById("div_slip_message").style.display == "block") {
						document.getElementById("div_slip_message").style.display = "none";
					} else {
						document.getElementById("id_message_receiver").value = document.getElementById(id).innerHTML;
						document.getElementById("id_message_sender").setAttribute("readonly", "");
						document.getElementById("id_message_receiver").setAttribute("readonly", "");
						document.getElementById("id_message_context").value = "";
						document.getElementById("div_slip_message").style.display = "block";
					}
			}
		/*
		var path = '{{request.path}}';
		var pathArr = path.split('/');
		
		window.onload = function() {
			var sender = document.getElementById('id_sender');
			sender.value = '{{ request.session.user }}';
			sender.setAttribute("disabled", "");
		};
		var context = document.getElementById('id_context');
		var chatButton = document.getElementById('btn_chat');
		var exitButton = document.getElementById('btn_exit');
		var div = document.getElementById("div_test");
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var ws_path = ws_scheme + "://" + window.location.host + "/chatting/?room=" + pathArr[pathArr.length - 1];

		var socket = new WebSocket(ws_path);
		var socket2 = new WebSocket("ws://" + window.location.host + "/test/");

		socket.onmessage = function(message) {
			var inputMessage = JSON.parse(message.data);
			//if (inputMessage.sender) {
				div.innerHTML += inputMessage.sender + ": " + inputMessage.msg + "<br>";
			//} else {
				//div.innerHTML += inputMessage.sender+"<br>";
			//}
			
		};

		socket.onopen = function() {
			socket.send('{"msg": "<strong>{{ request.session.user }} enters.</strong>" , "sender": "<strong>SYSTEM</strong>"}');
		}

		socket2.onopen = function() {
			//socket2.send('{"room": "' + pathArr[pathArr.length - 1] + '", "user": "{{ request.session.user }}", "from" : "room"}');
		}


		

		exitButton.onclick = function() {
			
			window.close();
		}


		if (socket.readyState == WebSocket.OPEN) {
			socket.onopen();
		}

	

		//window.history.back() = function() {// it occurs both exit button is clicked and back button is clicked.
			//exitButton.onclick();
		//}
		
		var mySocket = new WebSocket("ws://" + window.location.host + "/message_test/");
		var sender = '{{ request.session.user }}';
		var msgCode = "";
		var msgContext = "";
		var room = pathArr[pathArr.length - 1]

		mySocket.onopen = function() {
			msgCode = "noti";
			msgContext = "enter to room";
				
			mySocket.send(
				JSON.stringify({
				'sender': sender,
				'msgCode': msgCode,
				'msgContext': msgContext,
				'room': room,
			})
			);
		}
			

		mySocket.onmessage = function(msg) {
			console.log("MESSAGE: ", msg );
			console.log(JSON.parse(msg.data));
			var message = JSON.parse(msg.data);
			if (message['msgCode'] == 'noti') {
				console.log(message['sender'], message['msgContext']);	
			} else if (message['msgCode'] == 'message') {
				alert(message['msgContext']);
			} else if (message['msg_code'] == 'info') {
				console.log(message);
			}
			
		}

		chatButton.onclick = function() {
			console.log(document.getElementById('id_context').value);
			var data = document.getElementById('id_context').value
			socket.send('{"msg": "' + context.value +'" , "sender": "{{ request.session.user }}"}');
			msgCode = "message";
			msgContext = context.value;
			mySocket.send(
			JSON.stringify({
					'sender': sender,
					'msgCode': msgCode,
					'msgContext': msgContext,
					'room': room,
				})
			);
			context.value = "";
		}

		var xhttp = new XMLHttpRequest();

		var userMessage = document.getElementsByName("user_message");
		for (let i = 0; i <  userMessage.length; i++) {
			userMessage[i].onclick = function() {
				console.log(userMessage[i].id);
				receiver_id = userMessage[i].id
				window.open("/chatting/message/"+'{{ request.user.id }}'+"/"+receiver_id);
				//xhttp.open("GET", "/chatting/message/"+receiver_id);
				//xhttp.send();
			}

			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					
				}
			}
		}*/
		</script>
	{% endblock %}
	
</body>
</html>